.carouselItem{
    width: 150px;
    height: 296px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/https_specials-1.png');
    cursor: pointer;
    background-position: center;
}
.react-multi-carousel-list{
    background-color: var(--unnamed-color-040404);
    padding: 3px;
}
