.carouselItem{
    width: 195px;
    height: 296px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.react-multi-carousel-list{
    background-color: var(--color-040404);
    padding: 3px;
}
